[access]
	inheritFrom = Public-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group mdb/gerritcodereview-eng
	push = group mdb/gerritcodereview-eng
	create = group mdb/gerritcodereview-eng
[label "Code-Review"]
	copyMaxScore = true
	function = NoBlock
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
